@{
    Layout = null;
}

<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-grid.min.css" />

</head>
<body>

    <div class="container">
        <form asp-action="SignIn" asp-controller="Account" method="post" class="m-5 p-3">
            <div class="form-floating mb-3">

                <input type="email" aria-describedby="emailHelp" class="form-control" id="floatingInput" placeholder="name@example.com" name="Email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">

                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
                <label for="floatingPassword">Şifre</label>
            </div>
@*            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>*@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
            </div>
        </form>
    </div>
</body>
</html>



