@model TechCareerShoppingList.Front.Models.CategoryCreateResponseModel;


<div class="container my-4 pt-4">

    <form asp-action="Create" asp_controler=" Category" method="post">

        <div class=" mb-3">
            <label>Kategori Adı:</label>
            <input type="text" asp-for="@Model.Definition" class="form-control" />

        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-info">Kaydet</button>
        </div>
    </form>
</div>